body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

#loginError {
	display: none;
}

/*** !important was needed for snippet ***/



/* label focus color */
 .input-field input + label {
   color: darkblue!important;
 }
 /* label underline focus color */
 .row .input-field input {
   border-bottom: 1px solid darkblue !important;
   box-shadow: 0 1px 0 0 darkblue !important
 }

/* label focus color */
 .input-field input:focus + label {
   color: orange !important;
 }
 /* label underline focus color */
 .row .input-field input:focus {
   border-bottom: 1px solid orange !important;
   box-shadow: 0 1px 0 0 orange !important
 }